<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{user.name}}
    <small>Perfil</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Início</a></li>
    <li class="active">Perfil</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">Perfil</div>
      <div class="panel-body">
        <legend><i class="ion-clipboard"></i> Editar Perfil</legend>
        <form method="post" ng-submit="updateProfile()" name="formProfile">
          <div class="form-group">
            <label class="control-label">Imagem</label>
            <img class="profile-picture" ngf-thumbnail="active_image || user.image_full_url || 'http://placehold.it/100x100'">
            <div class="button btn btn-default" ngf-select ng-model="active_image" name="active_image" ngf-pattern="'image/*'"
              ngf-accept="'image/*'" ngf-max-size="3MB" ngf-min-height="100" 
              ngf-resize="{width: 100, height: 100}">Selecionar</div>
          </div>
          <div class="form-group" show-errors="">
            <label class="control-label"><i class="ion-person"></i> Nome</label>
            <input name="name" type="text" class="form-control" ng-model="user.name" />
          </div>
          <div class="form-group" show-errors="">
            <label class="control-label"><i class="ion-at"></i> Email</label>
            <input name="email" type="email" class="form-control" ng-model="user.email" />
          </div>
          <div class="form-group" show-errors="">
            <label class="control-label"><i class="ion-key"></i> Alterar Senha</label>
            <input name="password" type="password" class="form-control" ng-model="user.password" />
          </div>
          <div class="form-group" show-errors="">
            <label class="control-label"><i class="ion-key"></i> Cofirmar Senha Alterada</label>
            <input name="password_confirmation" type="password" class="form-control" ng-model="user.password_confirmation" />
          </div>
          <button class="btn btn-lg btn-success">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</section><!-- /.content -->
