/! Content Header (Page header)
section.content-header
  h1
    | {{ mainResource.name_single }}
    small Novo
  ol.breadcrumb
    li
      a href="/#/manage/customer_engineers" 
        i.fa.fa-dashboard
        | {{ mainResource.name_plural }}
    li.active Novo

/! Main content
section.content
  .panel.panel-default
    .panel-heading Editar
    .panel-body
      legend
        i.ion-clipboard
        | Informações do {{ mainResource.name_single }} 
      form method="post" ng-submit="saveEntity()" 
        div ng-include="'app/views/default/_form.html'"
