/! Base Scripts
script src="/vendor/plugins/jQuery/jQuery-2.1.4.min.js" 
script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" 
javascript:
  | $.widget.bridge('uibutton', $.ui.button);
script src="/vendor/bootstrap/js/bootstrap.min.js" 
script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js" 
script src="/vendor/plugins/morris/morris.min.js" 
script src="/vendor/plugins/sparkline/jquery.sparkline.min.js" 
script src="/vendor/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" 
script src="/vendor/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" 
script src="/vendor/plugins/knob/jquery.knob.js" 
script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" 
script src="/vendor/plugins/input-mask/jquery.inputmask.js" 
script src="/vendor/plugins/input-mask/jquery.inputmask.date.extensions.js" 
script src="/vendor/plugins/input-mask/jquery.inputmask.extensions.js" 
script src="/vendor/plugins/daterangepicker/daterangepicker.js" 
script src="/vendor/plugins/datepicker/bootstrap-datepicker.js" 
script src="/vendor/plugins/colorpicker/bootstrap-colorpicker.min.js" 
script src="./vendor/plugins/timepicker/bootstrap-timepicker.min.js" 
script src="/vendor/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" 
script src="/vendor/plugins/slimScroll/jquery.slimscroll.min.js" 
script src="/vendor/plugins/fastclick/fastclick.min.js" 
script src="/vendor/plugins/chartjs/Chart.min.js" 
script src="/vendor/admin-lte/js/app.min.js" 
/! DataTables
script src="/vendor/plugins/datatables/jquery.dataTables.min.js" 
script src="/vendor/plugins/datatables/dataTables.bootstrap.min.js" 
script src="/vendor/plugins/treetable/jquery.treetable.js" 
script src="/assets/scripts/demo.js" 
/! fullCalendar 2.2.5
script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" 
script src="/vendor/plugins/fullcalendar/fullcalendar.min.js" 
script src="/vendor/plugins/fullcalendar/gcal.js" 
script src="/vendor/plugins/fullcalendar/lang/pt-br.js" 

/! Angular Libraries
script src="/vendor/scripts/angular.js" 
script src="/vendor/scripts/angularjs-rails-resource.js" 
script src="/vendor/scripts/angularjs-rails-resource-snapshots.js" 
script src="/vendor/scripts/angular-locale_pt-br.js" 
script src="/vendor/scripts/angular-animate.js" 
script src="/vendor/scripts/angular-messages.js" 
script src="/vendor/scripts/angular-resource.js" 
script src="/vendor/scripts/angular-sanitize.js" 
script src="/vendor/scripts/angular-ui-router.js" 
script src="/vendor/scripts/angular-toastr.tpls.js" 
script src="/vendor/scripts/angular-cookie.js" 
script src="/vendor/scripts/ng-token-auth.js" 
script src="/vendor/scripts/ui-bootstrap-tpls-1.0.3.js" 
script src="/vendor/scripts/ng-file-upload-shim.min.js" 
script src="/vendor/scripts/ng-file-upload.min.js" 
script src="/vendor/scripts/angular-datatables.js" 
script src="/vendor/scripts/angular-treetable.min.js" 
script src="/vendor/scripts/angular-bootstrap-lightbox.min.js" 
script src="/vendor/scripts/angular-chart.min.js" 
script src="/vendor/scripts/angular-bootstrap-colorpicker.js" 
script src="/vendor/scripts/angular-ui-calendar.js" 