/! Application Code
script src="/assets/scripts/main.js" 
script src="/app/services/entity.js" 
script src="/app/app.js" 
script src="/app/directives/passwordStrength.js" 
script src="/app/directives/passwordMatch.js" 
script src="/app/directives/previousState.js" 
script src="/app/directives/store.js" 
script src="/app/directives/sidebar.js" 
script src="/app/directives/paging-interceptor.js" 
/! EXEMPLOS DE FILTROS ->
/! script src="/app/filters/permissions.js"
/! script src="/app/filters/buildings.js"
script src="/app/filters/linkType.js" 
script src="/app/controllers/default_crud.js" 
script src="/app/controllers/main.js" 
script src="/app/controllers/home.js" 
script src="/app/controllers/login.js" 
script src="/app/controllers/signup.js" 
script src="/app/controllers/logout.js" 
script src="/app/controllers/profile.js" 
script src="/app/controllers/navbar.js" 
script src="/app/controllers/sidebar.js" 
script src="/app/controllers/image-modal.js" 
script src="/app/controllers/admins/crud.js" 
/! EXEMPLOS CONTROLLERS
/! script src="/app/controllers/constructors/crud.js"
script src="/app/controllers/menu_items/crud.js" 
script src="/app/services/serializers.js" 
script src="/app/services/admin.js" 
/! EXEMPLOS SERVICES CUSTOM
script src="/app/services/page.js" 
script src="/app/services/menu_item.js" 
/! EXEMPLOS SERVICES CRUD PADRAO
/! script src="/app/services/situation_type.js"
/! script src="/app/services/situation_kind.js"
/! script src="/app/services/situation_detail.js"
script src="/app/services/account.js" 
