<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <small>Novo Item do Menu</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/#/manage/menu_items"><i class="fa fa-dashboard"></i> Itens do Menu</a></li>
    <li class="active">{{entry.name.length > 0 ? entry.name : 'Novo Item do Menu'}}</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="panel panel-default">
    <div class="panel-heading">Cadastro</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Informações do Item do Menu</legend>
      <form method="post" ng-submit="saveEntity()">
        <div ng-include="'app/views/menu_items/_form.html'">
        </div>
      </form>
    </div>
  </div>
</section><!-- /.content -->
