<div class="form-group">
  <label class="control-label"><i class="ion-person"></i> Estúdio</label>
  <input type="text" class="form-control disabled="" " ng-model="spot_owner.name" placeholder="Nome do Estúdio" disabled="disabled" />
</div>
<div class="form-group">
  <label class="control-label"><i class="ion-person"></i> Nome</label>
  <input type="text" class="form-control" ng-model="entry.name" placeholder="Nome da Sala Aqui" required />
</div>
<button class="btn btn-lg btn-success">Salvar</button>