<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Sala da {{spot_owner.name}}
    <small>{{entry.name.length > 0 ? entry.name : 'Nova Sala'}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/#/manage/spots"><i class="fa fa-dashboard"></i> Salas</a></li>
    <li class="active">{{entry.name.length > 0 ? entry.name : 'Nova Sala'}}</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="panel panel-default">
    <div class="panel-heading">Cadastro</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Informações da Sala</legend>
      <form method="post" ng-submit="saveEntity()">
        <div ng-include="'app/views/spots/_form.html'">
        </div>
      </form>
    </div>
  </div>
</section><!-- /.content -->
